<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="title" xml:lang="sv">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Namnge dina bilder.</desc>
        
        <link type="next" xref="event"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Josef Andersson</mal:name>
      <mal:email>josef.andersson@fripost.org</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

	<title>Namn</title>

<p>Kryssrutan <guiseq><gui>Visa</gui><gui>Titlar</gui></guiseq> aktiverar visningen av titlar under varje bild. Som standard är en bilds namn dess filnamn.</p>

<p>För att ändra en bilds titel, markera bilden och klicka <guiseq><gui>Bilder</gui><gui>Redigera titel…</gui></guiseq> eller tryck <key>F2</key>.</p>

</page>
