<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="other-plugins" xml:lang="sv">

    <info>
        <link type="guide" xref="index#other"/>
        <desc>Utöka Shotwells funktionalitet dynamiskt.</desc>
        
        <link type="next" xref="other-missing"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Josef Andersson</mal:name>
      <mal:email>josef.andersson@fripost.org</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

	<title>Insticksmoduler</title>
        <p>Shotwell kan användas med <em>Insticksmoduler</em>, vilket är delade bibliotek som kan lägga till stöd för nya publiceringstyper eller nya övergångar vid bildspel.</p>
        
        <p>För att se en lista över installerade insticksmoduler, välj <guiseq><gui>Redigera</gui><gui>Inställningar</gui></guiseq>, och i fönstret <gui>Inställningar</gui>, klicka på fliken <gui>Insticksmoduler</gui>. Du kommer att se en lista av aktuella installerade insticksmoduler, var och en med en kryssruta vid sida av den, och du kan aktivera eller inaktivera var och en genom att kryssa eller kryssa av kryssrutan för dess namn.</p>
        
        <note style="advanced"><p>Fullständig dokumentation om hur du utvecklar nya insticksmoduler finns tillgänglig på <link href="http://redmine.yorba.org/projects/shotwell/wiki/ShotwellArchWritingPlugins">http://redmine.yorba.org/projects/shotwell/wiki/ShotwellArchWritingPlugins</link></p></note>
    
</page>
