<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-nondestructive" xml:lang="el">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Το Shotwell είναι ένας μη καταστροφικός επεξεργαστής φωτογραφίας - δεν τροποποιεί τις αρχικές σας φωτογραφίες.</desc>
        
        <link type="next" xref="edit-date-time"/>
    </info>

	<title>Τι συμβαίνει στην αρχική φωτογραφία όταν επεξεργάζεται μια φωτογραφία;</title>

<p>Το Shotwell είναι ένας μη καταστροφικός επεξεργαστής φωτογραφίας. Δεν τροποποιεί τις αρχικές σας φωτογραφίες. Δηλαδή, αν περικόψετε μια φωτογραφία ή ρυθμίσετε τα χρώματά της, το αρχείο φωτογραφίας στον δίσκο παραμένει ανέπαφο. Το Shotwell αποθηκεύει τις επεξεργασίες σας σε μια βάση δεδομένων και τις εφαρμόζει απευθείας όταν χρειάζεται. Αυτό σημαίνει ότι μπορείτε να αναιρέσετε οποιεσδήποτε αλλαγές κάνετε σε μια φωτογραφία.</p>

<p>Αν θέλετε να δείτε πώς ήταν μια φωτογραφία πριν τις τροποποιήσεις σας, πατήστε το πλήκτρο <key>Shift</key>. Η αρχική φωτογραφία θα εμφανιστεί όσο κρατάτε πατημένο το πλήκτρο.</p>

<p>Σημειώστε ότι το Shotwell μπορεί προαιρετικά να γράψει μεταδεδομένα (όπως ετικέτες και τίτλους) σε αρχεία φωτογραφίας. Για περισσότερες πληροφορίες, δείτε την ενότητα <link xref="other-files">Αρχεία φωτογραφιών</link>.</p>

</page>
