<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="rating" xml:lang="el">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Δώστε στις φωτογραφίες μια αξιολόγηση μεταξύ 1 και 5 αστεριών. Μπορείτε να απορρίψετε άσχημες φωτογραφίες, κρύβοντας τες από την προβολή.</desc>
        
        <link type="next" xref="delete"/>
    </info>

	<title>Αξιολογήσεις</title>
<p>Μπορείτε να δώσετε σε κάθε φωτογραφία μια βαθμολόγηση από 1-5 αστέρια, ή μπορείτε εναλλακτικά να την αξιολογήσετε ως απορριφθείσα, οπότε το Shotwell θα κρύψει την φωτογραφία από προεπιλογή.</p>

<p>Μπορείτε να αξιολογήσετε μια φωτογραφία ή ένα σύνολο φωτογραφιών με οποιονδήποτε από αυτούς τους τρόπους:</p>

<list>
<item><p>Επιλέξτε τις φωτογραφίες, έπειτα επιλέξτε μια αξιολόγηση από το μενού ανωτάτου επιπέδου <guiseq><gui>Φωτογραφίες</gui><gui>Ορισμός αξιολόγησης</gui></guiseq>.</p></item>
<item><p>Δεξιοπατήστε στις φωτογραφίες, έπειτα επιλέξτε μια αξιολόγηση από το μενού περιεχομένων αξιολόγησης.</p></item>
<item><p>Επιλέξτε τις φωτογραφίες, έπειτα πατήστε οποιαδήποτε από τα πλήκτρα συντόμευσης <key>1</key>, <key>2</key>, <key>3</key>, <key>4</key> ή <key>5</key> για να δώσετε μια αξιολόγηση. Ή πατήστε <key>9</key> για να σημειώσετε τις φωτογραφίες ως απορριφθείσες ή <key>0</key> για να καθαρίσετε τις αξιολογήσεις.</p></item>
</list>

<p>Κανονικά το Shotwell εμφανίζει όλες τις φωτογραφίες εκτός από τις απορριφθείσες. Μπορείτε να ορίσετε ένα διαφορετικό φίλτρο αξιολόγησης χρησιμοποιώντας το μενού <guiseq><gui>Προβολή</gui><gui>Φιλτράρισμα φωτογραφιών</gui></guiseq> - για παράδειγμα, μπορείτε να εμφανίσετε μόνο φωτογραφίες που αξιολογούνται με 3 αστέρια ή περισσότερο, ή μπορείτε να εμφανίσετε όλες τις φωτογραφίες συμπεριλαμβανομένων αυτών που σημειώθηκαν ως απορριφθείσες. Το εικονίδιο Shotwell στην εργαλειοθήκη εμφανίζει το τρέχον φίλτρο αξιολόγησης και μπορεί επίσης να χρησιμοποιηθεί για να ορίσει το φίλτρο.</p>

<p>Το Shotwell κανονικά εμφανίζει αξιολόγηση κάθε φωτογραφίας στην κάτω αριστερή γωνία. Μπορείτε να απενεργοποιήσετε την εμφάνιση των αξιολογήσεων χρησιμοποιώντας το στοιχείο μενού <guiseq><gui>Προβολή</gui><gui>Αξιολογήσεις</gui></guiseq>.</p>

<p>Μπορείτε να αυξήσετε ή να μειώσετε την αξιολόγηση μιας φωτογραφίας χρησιμοποιώντας τις εντολές <guiseq><gui>Ορισμός αξιολόγησης</gui><gui>Αύξηση</gui></guiseq> και <guiseq><gui>Ορισμός αξιολόγησης</gui><gui>Μείωση</gui></guiseq>, ή τις συντομεύσεις πληκτρολογίου <key>&lt;</key> και <key>&gt;</key>.</p>
</page>
