<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="other-files" xml:lang="el">

    <info>
        <link type="guide" xref="index#other"/>
        <desc>Διατηρείστε τη βιβλιοθήκη Shotwell σε συγχρονισμό με τα αρχεία φωτογραφιών στον δίσκο.</desc>
        
        <link type="next" xref="other-plugins"/>
    </info>

   <title>Αρχεία φωτογραφιών</title>

    <p>Κάθε φωτογραφία στη βιβλιοθήκη Shotwell αντιστοιχεί σε ένα αποθηκευμένο αρχείο στον σκληρό σας δίσκο. Το Shotwell έχει πολλά γνωρίσματα που σας βοηθούν να κρατήσετε τη βιβλιοθήκη Shotwell και τα αρχεία στον δίσκο σε συγχρονισμό.</p>
    <links type="section"/>
    
    <section id="dirpattern">
        <title>Χρησιμοποιώντας ένα προσαρμοσμένο υπόδειγμα καταλόγου</title>
        <p>Το Shotwell σας επιτρέπει να ορίσετε τον τρόπο ονομασίας των καταλόγων στη βιβλιοθήκη σας. Μπορείτε να το κάνετε αλλάζοντας τις ρυθμίσεις <gui>Δομή καταλόγου</gui> και <gui>Υπόδειγμα</gui> στον διάλογο <gui>Προτιμήσεις</gui>. Μπορείτε να χρησιμοποιήσετε ένα προεπιλεγμένο υπόδειγμα, ή να επιλέξετε <gui>Προσαρμογή</gui> και να πληκτρολογήσετε το δικό σας.</p>

        <p>Τα διαθέσιμα σύμβολα για υπόδειγμα καταλόγου ξεκινά με ένα % (σύμβολο ποσοστού). Οι τιμές που αυτά τα σύμβολα παράγουν εξαρτώνται από τις τοπικές ρυθμίσεις, έτσι ό,τι βλέπετε στον υπολογιστή σας μπορεί να διαφέρει από τα παρακάτω παραδείγματα.</p>

        <table frame="all" rules="rowgroups">
            <tbody>
                <tr>
                    <td><p> </p></td> <td><p><em>Symbol</em></p></td> <td><p><em>Meaning</em></p></td> <td><p><em>Example</em></p></td>
                </tr>
            </tbody>
            <tbody>
            <tr>
                <td><p> </p></td><td><p>%Y</p></td><td><p>Έτος: πλήρες</p></td><td><p>2011</p></td>
            </tr>
            <tr>
                <td><p> </p></td><td><p>%y</p></td><td><p>Έτος: δύο ψηφία</p></td><td><p>11</p></td>
            </tr>
            <tr>
                <td><p> </p></td><td><p>%d</p></td><td><p>Ημέρα του μήνα με αρχικό μηδέν</p></td><td><p>03</p></td>
            </tr>
            <tr>
                <td><p> </p></td><td><p>%A</p></td><td><p>Όνομα ημέρας: πλήρες</p></td><td><p>Τετάρτη</p></td>
            </tr>
            <tr>
                <td><p> </p></td><td><p>%a</p></td><td><p>Όνομα ημέρας: συντομευμένο</p></td><td><p>Τετ</p></td>
            </tr>
            <tr>
                <td><p> </p></td><td><p>%m</p></td><td><p>Αριθμός μήνα με αρχικό μηδέν</p></td><td><p>02</p></td>
            </tr>
            <tr><td><p> </p></td><td><p>%b</p></td><td><p>Όνομα μήνα: συντομευμένο</p></td><td><p>Φεβ</p></td></tr><tr><td><p> </p></td><td><p>%B</p></td><td><p>Όνομα μήνα: πλήρες</p></td><td><p>Φεβρουάριος</p></td></tr><tr><td><p> </p></td><td><p>%I</p></td><td><p>Ώρα: 12ώρη μορφή</p></td><td><p>05</p></td></tr><tr><td><p> </p></td><td><p>%H</p></td><td><p>Ώρα: 24ώρη μορφή</p></td><td><p>17</p></td></tr><tr><td><p> </p></td><td><p>%M</p></td><td><p>Λεπτό</p></td><td><p>16</p></td></tr><tr><td><p> </p></td><td><p>%S</p></td><td><p>Δευτερόλεπτο</p></td><td><p>30</p></td></tr><tr><td><p> </p></td><td><p>%p</p></td><td><p>ΠΜ ή ΜΜ</p></td><td><p>ΜΜ</p></td></tr>
            </tbody>
        </table>

        <p>Υπάρχουν άλλα διαθέσιμα σύμβολα· παρακαλούμε, ελέγξτε το εγχειρίδιο για strftime εκτελώντας την εντολή <cmd>man strftime</cmd> αν χρειάζεστε ένα σύμβολο που δεν είναι καταχωρισμένο εδώ.</p>
    </section>

    <section id="automatic-import">
       <title>Αυτόματη εισαγωγή φωτογραφιών</title>
       
       <p>Το Shotwell μπορεί να εισάγει αυτόματα νέες φωτογραφίες που εμφανίζονται στον κατάλογο βιβλιοθήκης. (Ο κατάλογος βιβλιοθήκης είναι συνήθως ο κατάλογος <file>Εικόνες</file> στον προσωπικό σας κατάλογο· μπορείτε να αλλάξετε την θέση του στο παράθυρο <gui>Προτιμήσεις</gui>.)</p>
       
       <p>Για την ενεργοποίηση της αυτόματης εισαγωγής, ελέγξτε το πλαίσιο <gui>Παρακολούθηση του καταλόγου βιβλιοθήκης για νέα αρχεία</gui> στο παράθυρο <gui>Προτιμήσεις</gui>.</p>
       
       <note style="advanced"><p>Το Shotwell μπορεί επίσης να ακολουθήσει τους συμβολικούς δεσμούς σε αυτόματα εισαγόμενους καταλόγους.</p></note>

    </section>

    <section id="automatic-rename">
       <title>Αυτόματη μετονομασία εισαγόμενων φωτογραφιών σε πεζά γράμματα</title>
       
       <p>Το Shotwell μπορεί να αλλάξει αυτόματα τα ονόματα αρχείων των εισαγόμενων φωτογραφιών σε πεζά γράμματα. Για να το ενεργοποιήσετε αυτό, επιλέξτε <guiseq><gui>Επεξεργασία</gui><gui>Προτιμήσεις</gui></guiseq> και στο παράθυρο <gui>Προτιμήσεις</gui>, σημειώστε το πλαίσιο <gui>Μετονομασία εισαγόμενων αρχείων σε πεζά γράμματα</gui>.</p>
    
    </section>
    
    <section id="writing-metadata">
       <title>Εγγραφή μεταδεδομένων απευθείας</title>
       
       <p>Από προεπιλογή, το Shotwell δεν τροποποιεί αρχεία φωτογραφιών, ακόμα κι όταν επεξεργάζεστε φωτογραφίες ή αλλάζετε τις ετικέτες τους ή τίτλους τους. Το Shotwell καταγράφει αυτές τις αλλαγές μόνο στη δικιά του βάση δεδομένων.</p>
       
       <p>Για να αλλάξετε αυτήν την συμπεριφορά, μπορείτε να ενεργοποιήσετε το πλαίσιο ελέγχου <gui>Εγγραφή ετικετών, τίτλων και άλλων μεταδεδομένων σε αρχεία φωτογραφιών</gui> στον διάλογο <gui>Προτιμήσεις</gui>. Όταν αυτή η επιλογή είναι ενεργή, το Shotwell θα γράψει τα παρακάτω μεταδεδομένα στα περισσότερα αρχεία φωτογραφιών όποτε το αλλάζετε σε Shotwell:</p>
       
       <list>
       <item><p>τίτλοι</p></item>
       <item><p>ετικέτες</p></item>
       <item><p>αξιολογήσεις</p></item>
       <item><p>πληροφορίες περιστροφής</p></item>
       <item><p>χρόνος/ημερομηνία</p></item>
       </list>
       
       <p>Το Shotwell αποθηκεύει αυτές τις πληροφορίες σε αρχεία φωτογραφιών σε μορφή EXIF, IPTC και/ή XMP. Σημειώστε ότι το Shotwell μπορεί να γράψει μόνο σε αρχεία φωτογραφιών σε μορφή JPEG, PNG και TIFF, όχι σε φωτογραφίες BMP, RAW ή σε αρχεία βίντεο.</p>
    
    </section>
    
    <section id="runtime-monitoring">
    <title>Παρακολούθηση χρόνου εκτέλεσης</title>
    
    <p>Ενώ εκτελείται το Shotwell, σημειώνει αλλαγές που έγιναν σε οποιαδήποτε εξωτερικό αρχείο φωτογραφίας. Όταν ένα αρχείο φωτογραφίας αλλάζει, το Shotwell ξαναδιαβάζει το αρχείο και ενημερώνει την προβολή σας της φωτογραφίας και των μεταδεδομένων.</p>
    
    <p>Σημειώστε ότι το Shotwell ελέγχει όλα τα αρχεία φωτογραφιών για αλλαγές στην εκκίνηση, αλλά μόνο τα περιεχόμενα αρχεία φωτογραφίας στον κατάλογο βιβλιοθήκης παρακολουθούνται σε πραγματικό χρόνο μετά την εκκίνηση. Ελπίζουμε να αφαιρέσουμε αυτόν τον περιορισμό σε μια μεταγενέστερη έκδοση.</p>

    </section>
    
</page>
