<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-sidebar" xml:lang="hu">

    <info>
        <link type="guide" xref="index#view"/>
        <desc>Az ablak bal oldalán lévő oldalsáv a gyűjtemény különböző nézeteit sorolja fel.</desc>
        
        <link type="seealso" xref="event"/>
        <link type="seealso" xref="tag"/>
        <link type="seealso" xref="flag"/>
        <link type="seealso" xref="search#savedsearch"/>
        <link type="seealso" xref="import-file"/>
        <link type="seealso" xref="import-f-spot"/>
        <link type="seealso" xref="import-memorycard"/>
        <link type="seealso" xref="import-camera"/>
        
        <link type="next" xref="view-information"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>urbalazs at gmail dot hu</mal:email>
      <mal:years>2015, 2016.</mal:years>
    </mal:credit>
  </info>

	<title>Az oldalsáv</title>

<p>A Shotwell bal oldalán lévő oldalsáv a gyűjtemény különböző nézeteit sorolja fel. Noha ugyanazt a fényképet több nézetben is láthatja, az a lemezen csak egyszer van tárolva.</p>

<p>Az <gui>Utolsó importálás</gui> nézet az utoljára importált fényképeket sorolja fel, függetlenül attól, hogy az F-Spotból, fényképezőgépéről, memóriakártyáról vagy a merevlemezről importálta azokat.</p>

<p>A <gui>Megjelölt</gui> a korábban megjelölt fényképeket sorolja fel.</p>

<p>A <gui>Mentett keresés</gui> lehetővé teszi gyűjteménye rendezését több szempont szerint.</p>

<p>Az <gui>Események</gui> mappa felsorolja a gyűjtemény összes eseményt. Az esemény a nagyjából egy időben készített fényképek csoportja.</p>

<p>A <gui>Címkék</gui> mappa felsorolja a fényképekhez társított összes címkét. A fényképekhez több címke is csatolható. Amikor egy címke nevére kattint az oldalsávon, a címkéhez társított összes kép megjelenik.</p>

</page>
