<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-redeye" xml:lang="es">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Corrige las fotos donde las personas tienen ojos rojos por el flash de la cámara.</desc>
        
        <link type="next" xref="edit-rotate"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marina Prado</mal:name>
      <mal:email>mapraro93@hotmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Dámaris Letelier</mal:name>
      <mal:email>dam.letelier@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

	<title>Quitar los ojos rojos</title>

    <p>Los ojos rojos aparecen cuando el flash de la cámara se refleja en las pupilas de los ojos. Para eliminar esto en una foto, utilice la herramienta Ojos rojos.</p>
    <steps>
     <item>
      <p>Pulse en <gui>Ojos Rojos</gui>. Un círculo aparecerá en la foto.</p>
     </item>
     <item>
      <p>Arrastre el círculo sobre la pupila afectada, ajuste su tamaño con el control deslizante y presione <gui>Aplicar</gui>. Se eliminará el color rojo.</p>
     </item>
     <item>
      <p>Repita este proceso para todas las pupilas rojas en su foto. Pulse <gui>Cerrar</gui> cuando haya terminado.</p>
     </item>
    </steps>
</page>
