<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="event" xml:lang="es">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Agrupar fotos que se tomadron al mismo tiempo. Aprenda como renombrar, unir y ordenar eventos.</desc>
        
        <link type="next" xref="flag"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marina Prado</mal:name>
      <mal:email>mapraro93@hotmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Dámaris Letelier</mal:name>
      <mal:email>dam.letelier@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

	<title>Eventos</title>

    <p>Un evento es un grupo de fotos que se han hecho aproximadamente al mismo tiempo. Cuando importa fotos, Shotwell comprueba cuándo se hizo cada foto y las agrupa por eventos.</p>
    
    <p>Elija <gui>Eventos</gui> en la barra lateral para ver sus fotos organizadas por fecha. Si selecciona un mes o un año en la barra lateral, se mostrará una lista de eventos en la ventana principal. Pulse dos veces en un evento para ver todas las fotos tomadas en ese momento.</p>
    
    <p>Si una foto no tiene información insertada de la fecha o la hora, entonces Shotwell no puede colocarla automáticamente en ningún evento. En este caso, la foto aparecerá en la vista <gui>No hay eventos</gui> a la que se accede desde la barra lateral. Todavía puede mover la foto a cualquier evento que quiera como se describe a continuación.</p>
    
    <section id="renaming">
    <title>Renombrar eventos</title>

    <p>Para dar un nombre a un evento en lugar de referirse a él por su fecha, seleccione el evento, pulse en <guiseq><gui>Eventos</gui><gui>Renombrar evento...</gui></guiseq> e introduzca un nuevo nombre. Otra forma de cambiar el nombre de un evento es pulsar dos veces en su nombre en la barra lateral; Escriba un nuevo nombre y luego pulse <key>Intro</key>.</p>
    </section>

    <section id="moving-photos">
    <title>Mover fotos entre eventos</title>

    <p>Aunque las fotos se agrupan inicialmente por eventos según su fecha, puede mover fotos entre eventos. Para ello, arrastre cualquier foto a la barra lateral y suéltela en un evento.</p>
    </section>

    <section id="creating-events">
    <title>Crear y combinar eventos</title>
    <p>Para crear un evento nuevo, seleccione las fotos que quiere tener en el evento y pulse <guiseq><gui>Eventos</gui><gui>Nuevo evento</gui></guiseq>.</p>
    <p>Para combinar eventos, seleccione <guiseq><gui>Eventos</gui></guiseq> de la barra lateral, luego, mientras presiona <key>Ctrl</key> pulse en los eventos que quiere combinar en la ventana principal. Finalmente, pulse en <guiseq><gui>Eventos</gui><gui>Combinar eventos</gui></guiseq>.</p>
    </section>

    <section id="sorting-events">
    <title>Ordenar eventos</title>

    <p>Los eventos se muestran en la estructura de árbol en la barra lateral, organizados por el año y el mes de la primera foto del evento. Para cambiar el orden de clasificación del evento, pulse en <guiseq><gui>Vista</gui><gui>Ordenar eventos</gui></guiseq> y seleccione si quiere el orden ascendente o descendente.</p>
    
    </section>
    
    <section id="change-photo">
    <title>Cambiar la foto usada para representar cada evento</title>

    <p>Si selecciona <gui>Eventos</gui> en la barra lateral, verá una única foto que representa cada evento. Esto se denomina «foto clave».</p>

    <p>De manera predeterminada, Shotwell utiliza la primera foto de cada evento como su vista de miniatura. Para utilizar una foto distinta, seleccione la foto y elija <guiseq><gui>Fotos</gui><gui>Definir vista de miniatura de eventos </gui></guiseq>.</p>
    
    </section>
    
</page>
