<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="title" xml:lang="es">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Asignar títulos a las fotos.</desc>
        
        <link type="next" xref="event"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marina Prado</mal:name>
      <mal:email>mapraro93@hotmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Dámaris Letelier</mal:name>
      <mal:email>dam.letelier@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

	<title>Títulos</title>

<p>La casilla de <guiseq><gui>Vista</gui><gui>Títulos</gui></guiseq> activa la visualización de títulos debajo de cada foto. De manera predeterminada, el título de la foto es su nombre de archivo.</p>

<p>Para cambiar el título de una foto, selecciónela y pulse <guiseq><gui>Fotos</gui><gui>Editar título</gui></guiseq>, o pulse <key>F2</key>.</p>

</page>
