<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="other-plugins" xml:lang="es">

    <info>
        <link type="guide" xref="index#other"/>
        <desc>Ampliar la funcionalidad de Shotwell dinámicamente.</desc>
        
        <link type="next" xref="other-missing"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marina Prado</mal:name>
      <mal:email>mapraro93@hotmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Dámaris Letelier</mal:name>
      <mal:email>dam.letelier@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

	<title>Complementos</title>
        <p>Shotwell se puede usar con <em>complementos</em>, que son bibliotecas compartidas complementarias que pueden agregar soporte para nuevos destinos de publicación o nuevas transiciones de presentación de diapositivas.</p>
        
        <p>Para ver una lista de los complementos instalados, elija <guiseq><gui>Editar</gui><gui>Preferencias</gui></guiseq>, y en la ventana de <gui>Preferencias</gui> pulse en la pestaña <gui>Complementos</gui>. Verá una lista de los complementos actualmente instalados, cada uno con una casilla mediante la que puede activarlos o desactivarlos por su nombre.</p>
        
        <note style="advanced"><p>La documentación completa sobre cómo desarrollar nuevos complementos está disponible en <link href="http://redmine.yorba.org/projects/shotwell/wiki/ShotwellArchWritingPlugins">http://redmine.yorba.org/projects/shotwell/wiki/ShotwellArchWritingPlugins</link></p></note>
    
</page>
